services:
    bugsnag.resolver:
        class: '%bugsnag.resolver%'

    bugsnag.factory:
        class: '%bugsnag.factory%'
        arguments:
          - '@bugsnag.resolver'
          - '@?security.token_storage'
          - '@?security.authorization_checker'
          - '%bugsnag.api_key%'
          - '%bugsnag.endpoint%'
          - '%bugsnag.callbacks%'
          - '%bugsnag.user%'
          - '%bugsnag.app_type%'
          - '%bugsnag.app_version%'
          - '%bugsnag.batch_sending%'
          - '%bugsnag.hostname%'
          - '%bugsnag.send_code%'
          - '%bugsnag.strip_path%'
          - '%bugsnag.project_root%'
          - '%kernel.root_dir%'
          - '%kernel.environment%'
          - '%bugsnag.release_stage%'
          - '%bugsnag.notify_release_stages%'
          - '%bugsnag.filters%'

    bugsnag:
        class: '%bugsnag.client%'
        factory: ['@bugsnag.factory', make]
        public: true

    bugsnag.listener:
        class: '%bugsnag.listener%'
        arguments:
          - '@bugsnag'
          - '@bugsnag.resolver'
          - '%bugsnag.auto_notify%'
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 256 }
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 128 }
            - { name: kernel.event_listener, event: console.exception, method: onConsoleException, priority: 128 }
